@import "tailwindcss";

/* =======================
   SÖHNE MONO FONT FACES
   ======================= */
@font-face {
  font-family: "Söhne Mono";
  src: url("/fonts/TestSohneMono-Extraleicht-BF663d89cd32fa2.otf")
    format("opentype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Söhne Mono";
  src: url("/fonts/TestSohneMono-ExtraleichtKursiv-BF663d89cc93455.otf")
    format("opentype");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Söhne Mono";
  src: url("/fonts/TestSohneMono-Leicht-BF663d89cd4fdd9.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Söhne Mono";
  src: url("/fonts/TestSohneMono-LeichtKursiv-BF663d89cceebee.otf")
    format("opentype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Söhne Mono";
  src: url("/fonts/TestSohne-Buch-BF663d89cd32e6a.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Söhne Mono";
  src: url("/fonts/TestSohneMono-KraftigKursiv-BF663d89ccea359.otf")
    format("opentype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Condensed";
  src: url("/fonts/helvetica-condensed-black.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* =======================
   ROOT VARIABLES
   ======================= */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* BODY FONT */
  --font-sans: Inter, ui-sans-serif, system-ui;

  /* Typical FONT */
  --font-sohne: Söhne Mono Leicht, ui-sans-serif, system-ui;

  /* BRAND FONT */
  --font-brand: "Söhne Mono", monospace;

  /* AZURA FONT */
  --font-azura: "The Seasons", monospace;

  /* Addressbali FONT */
  --font-ab: "Helvetica Condensed", monospace;

  /* Yamaha FONT */
  --font-yamaha: "Söhne Mono", monospace;
}

/* =======================
   DARK MODE
   ======================= */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* =======================
   GLOBAL BODY STYLES
   ======================= */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Inter, ui-sans-serif, system-ui; /* BODY FONT */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}
